.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
}
button {
  margin: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.card {
  max-width: 300px;
}
